main {
  display: block;
  width: 100vw;
  max-width: 450px;
}

.explain-container {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.explain p:first-child {
  font-size: 2rem;
}

.explain p:nth-child(2),
.explain p:nth-child(3) {
  font-size: 1.5rem;
  font-weight: 300;
}

.form-container {
  width: 100%;
}

.form-container form {
  width: 90%;
}

form div {
  margin: 0px 5px;
  margin-bottom: 20px;
  font-size: 1.4rem;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}

form input,
form select {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 1.2rem;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;
}

form input:hover,
form input:focus {
  background-color: #ebf0ff;
  border: 2px solid #0047FF;
}

#time {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.small-explain {
  margin-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 100;
}

.small-explain span {
  margin-right: 10px;
}

form .train-input-container {
  margin: 0 auto;
  width: 70%;
  min-width: 250px;
  margin-top: 50px;
  margin-bottom: 5px;
}

.train-input-container .train-contents-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.train-contents-container div:first-child {
  font-weight: 300;
  font-size: 1.2rem;
}

/* * Station Select */

/* form */
#station-search-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* Header */

#station-search-header {
  display: flex;
  width: 60%;
  justify-content: space-around;
  margin: 0;
}

#reverse-arrow {
  cursor: pointer;
}

/* Station */

#stations {
  display: flex;
  width: 70%;
  justify-content: space-around;
}

#depart-station, 
#arrive-station {
  cursor: pointer;
  font-size: 2.5rem;
  margin: 0;
}

.focus {
  border-bottom: 2px solid #fff;
}

.hidden-bar {
  display: none;
}

/* ul */

#search-station-ul {
  margin: 10px 0px;
  width: 100%;
  background-color: #fff;
  color: #000;
  border-radius: 7px;
}

.search-station-li {
  border-radius: 7px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  font-weight: 300;
  height: 40px;
  padding: 10px 30px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.search-station-li:last-child {
  border-bottom: none;
}

.search-station-li:hover {
  background-color: #edf0fa;
}

form .button-container {
  margin-top: 30px;
  text-align: center;
}

/* delete icon in input type of date, time */
::-webkit-calendar-picker-indicator {
  font-size: 1.7rem;
}


