.overlay {
    color: black;
    position: absolute;
    left: -174px;
    top: 75px;
    width: 336px;
    height: 261px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    white-space: pre;
    word-wrap: break-word;
    text-align: center;

}
.bus-time{
    font-weight: bolder;

    text-align: left;
    margin-left: 23px;
    margin-top: 8px;
}
.arrow{
    font-weight: bolder;

    margin-top: -16px;
}
.bus-time2{
    font-weight: bolder;

    text-align: right;
    margin-right: 29px;
    margin-top: -23px;
}
.time{
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
    color: blue;
    margin-top: -6px;
    margin-left: 20px;
}
.time2{
    text-align: left;
    font-weight: bolder;
    margin-top: -22px;
    margin-left: 47px;
}

#pagination {
    position: absolute;
    top: 550px;
    margin-top: 248px;
    width: 100%;
    height: 30px;
    display: flex;
    z-index: 2;
    justify-content: center;
    /* bottom: 20px; */
    align-items: center;
  }
  
  #pagination div {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: #B2C3F0;
    margin: 0 7px;
    transition: all 1s;
  
  }
  
  #pagination .select {
    background-color: #0047FF;
  }