button {
  margin: 10px 5px;
  background-color: #0047FF;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  font-size: 15px;
}

.search-button {
  width: 350px;
}

.long-button {
  width: 220px;
}

.short-button {
  width: 110px;
}