footer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin: 15px 0px;
}
.footer-line{
  border: #0047FF solid !important; 
  border-width: 10px 0 0 0 !important;
  color: #0047FF !important;
}

.footer-container{
  position: relative;
  top:60px;
}
.footer-map{
  width: 346px;
  height: 120px;
  /* left: 0px; */
  /* top: 834px; */
  top: -150px;
  background: #FFFFFF;
  border-radius: 5px;
  color: black;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}
.font-space{
  margin-left: 10px;
}
.arrow{
  transition: all ease 0.5s;
  transform: rotate( 180deg );
  font-weight: bolder;
  margin-top: -16px;
  left: 289px;
  top: 46px;
  position: absolute;

}
.rotate{
  transition: all ease 0.5s;
  transform: rotate( 360deg );
}

.center-line{
  height: 0px;
  border: 1px solid #7777;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  margin-right: 70px;
}

.footer-bus{
  margin:auto;
  font-weight: bold;
  background-color: white;
  color:black;
  width: 100vw;
  height: 60px;
  display: flex;
  bottom: 0px;
  position: fixed; /*이렇게하고 bottom 0px해야함*/
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.footer-space{
  margin-left: 70px;
}

.footer-to-station{
  float:left;
  border: white solid; 
  border-width: 10px 0 0 0;
  margin:auto;
  font-weight: bold;
  background-color: white;
  color:black;
  width: 50%;
  height: 68px;
  display: flex;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.footer-to-campus{
  border: white solid; 
  border-width: 10px 0 0 0;
  float:right;
  margin:auto;
  font-weight: bold;
  background-color: white;
  color:black;
  width: 50%;
  height: 68px;
  display: flex;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}






