header {
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 10px 0px;
  position: relative;
}

.title-container {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
}

.title-container h1 {
  text-align: center;
  font-size: 3rempx;
}

.navbar-container {
  width: 10%;
  position: absolute;
  right: 5%;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: rgb(255, 255, 255);
}