button {
  margin: 10px 5px;
  background-color: #0047FF;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 auto;
}

.search-button {
  /* max-width: 200px; */
  width: 100%;
}

.long-button {
  max-width: 250px;
  width: 90%;
}

.short-button {
  width: 100px;
}

button:disabled {
  background-color: #848484;
}