.slide {
  width: 100vw;
  max-width: 450px;
  height: 100%;
  position: relative;
  font-size: 1.6rem;
  overflow: hidden;
}

.slide ul {
  position: absolute;
  left: 0;
  width: 300%;
  max-width: 1350px;
  height: 550px;
  display: flex;
  transition: left 0.5s ease-out;
}

.slide ul li {
  width: 100vw;
  max-width: 450px;
  transform: translateX(cal(-443px - 443px));
  transition: all 0.5s ease-out;
}

.slide-img {
  width: 100%;
  height: 300px;
}

.slide-explain {
  width: 70%;
}

.slide-button {
  width: 100%;
  text-align: center;
}

.slide-explain .small-explain {
  margin: 10px 0px;
  font-size: 1.1rem;
  font-weight: 100;
}

#pagination {
  position: absolute;
  top: 550px;
  margin: 0 auto;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagination div {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: #B2C3F0;
  margin: 0 7px;
  transition: all 1s;

}

#pagination .select {
  background-color: #0047FF;
}