main {
    max-width: 450px;
}

.info-container {
    width: 100%;
    padding: 50px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.info-container h1 {
    font-size: 2.4rem;
}

.info-container p {
    font-weight: 300;
    font-size: 1.5rem;
}

.info-container button {
    margin: 20px 0px;
    font-size: 1.2rem;
}

.time-table-container {
    background-color: #fff;
    padding-bottom: 40px;
}

.header-wrap {
    width: 100%;
    padding: 20px 0px;
}

.header-wrap .table-header {
    font-size: 1.3rem;
    display: flex;
    height: 40px;
    width: 90%;
    align-items: center;
    background-color: #eee;
    color: #000;
    border-radius: 5px;
}


.time-table .notice-time .circle-time {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #0047FF;
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.time-table ul {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.time-table ul .center-line {
    width: 3px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eee;
    z-index:1
}

.time-table ul li {
    width: 100%;
    display: flex;
    height: 30px;
    color: black;
    align-items: center;
}

.time-table ul .small-margin {
    margin-bottom: -5px;
}

.time-table ul .small-medium-margin {
    margin-bottom: 50px;
}

.time-table ul .medium-margin {
    margin-bottom: 90px;
}

.time-table ul .medium-large-margin {
    margin-bottom: 130px;
}

.time-table ul .large-margin {
    margin-bottom: 170px;
}

.time-table ul li:first-child {
    margin-top: 50px;
}

.time-table ul li:nth-child(2) {
    margin-top: 50px;
}

.time-table ul li:last-child {
    margin-bottom: 50px;;
}

.time-table ul li .left-item {
    width: 45%;
}

.time-table ul li .right-item {
    width: 45%;
}

.time-table ul li .center-item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #0047FF;
    z-index: 2;
}

.card-container {
    width: 90%;
    height: 30px;
    background-color: #eee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding:0px 5px;
}

.card-container .card-name-item {
    font-weight: 300;
    font-size: 0.8rem;
}

.card-container .card-time-item span {
    color:#0047FF;
}


