.bus-date {
    width: 100%;
    height: 50px;
    display: flex; /*화면중앙고정*/
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 26px;   /*행간*/
  }
.bus-date-space{
  margin-left: 19px;
}

.bus-stop-space{
  margin-left: 65px;
  font-weight: bold;
}

.bus-content{
  text-align: center;
  background-color: white;
  height: 650px;
  border-radius: 10px;
  
}

.bus-stop{
  width: 100%;
  height: 50px;
  display: flex; /*화면중앙고정*/
  justify-content: center;
  align-items: center;
  font-size: 15px;
  line-height: 26px;   /*행간*/
  color:blue;
}

.bus-content-time{
  display: flex;
  line-height: 26px;
  color:black;
  position: relative;
}

.ff{
  color:blue !important;
}